.home {
  padding-top:60px;
  padding-bottom:60px;
}

.filters {
  h2 {
    font-weight:bold;
    font-size:24px;
    margin-bottom:20px;
  }
  h3 {
    margin-bottom:5px;
  }
  .filter-item {
    margin-bottom:18px;
  }
}
