<div class="more-info">
  <p-card>
    <ng-template pTemplate="content">
      <form [formGroup]="moreInfoForm">
        <div class="p-fluid">
          <div class="p-field">
            <label for="lastname">Marka</label>
            <ng-select
              [items]="brands$ | async"
              bindLabel="name"
              bindValue="_id"
              formControlName="brands"
              [clearable]="false"
              [searchable]="false"
              placeholder="Izaberite marku"
            >
            </ng-select>
          </div>

          <div class="p-field">
            <label for="">Model</label>
            <input
              type="text"
              formControlName="model"
              class="input"
              placeholder="Model"
            />
          </div>

          <div class="p-field">
            <label for="">Godište</label>
            <input
              type="number"
              min="0"
              formControlName="year"
              class="input"
              placeholder="Godište"
            />
          </div>

          <div class="p-field">
            <label for="">Cena</label>
            <input
              placeholder="Cena"
              type="number"
              min="0"
              formControlName="price"
              class="input"
            />
          </div>

          <div class="p-field">
            <label for="lastname">Status</label>
            <ng-select
              [items]="statusValues"
              formControlName="status"
              [clearable]="false"
              [searchable]="false"
              placeholder="Status"
            >
            </ng-select>
          </div>

          <div class="p-field">
            <div class="favorite">
              <label for="">Oglas Favorizovan</label>
              <p-checkbox
                formControlName="favorite"
                binary="true"
                inputId="binary"
              ></p-checkbox>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid p-justify-end footer-container">
        <button
          label="Sledeći korak"
          (click)="nextPage()"
          class="p-button-success"
          icon="pi pi-angle-right"
          iconPos="right"
          [disabled]="moreInfoForm.invalid"
          pButton
          type="button"
          class="p-button-success"
        ></button>
      </div>
    </ng-template>
  </p-card>
</div>
