<div class="more-info">
  <p-card>
    <ng-template pTemplate="title">Dodatne Informacije</ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="moreInfoForm">
        <div class="p-fluid">
          <div class="p-field">
            <label for="lastname">Marka</label>
            <ng-select
              [items]="brands$ | async"
              bindLabel="name"
              bindValue="_id"
              formControlName="brands"
              placeholder="Izaberite marku"
            >
            </ng-select>
          </div>

          <div class="p-field">
            <label for="">Model</label>
            <input type="text" formControlName="model" class="input" />
          </div>

          <div class="p-field">
            <label for="">Godište</label>
            <input type="number" formControlName="year" class="input" />
          </div>

          <div class="p-field">
            <label for="">Cena</label>
            <input type="number" formControlName="price" class="input" />
          </div>

          <div class="p-field">
            <label for="lastname">Status</label>
            <ng-select
              [items]="statusArr"
              formControlName="status"
              placeholder="Status"
            >
            </ng-select>
          </div>

          <div class="p-field">
            <div class="favorite">
              <label for="">Oglas Favorizovan</label>
              <p-checkbox
                formControlName="favorite"
                binary="true"
                inputId="binary"
              ></p-checkbox>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid footer-container">
        <p-button
          label="Back"
          (onClick)="prevPage()"
          icon="pi pi-angle-left"
        ></p-button>
        <p-button
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
