<div *ngIf="ads$ | async as ads">
  <div class="table">
    <p-table [value]="ads"  styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
          <tr>
              <th>Naslov</th>
              <th>Opis</th>
              <th>Kategorija</th>
              <th>Datum Kreiranja</th>
              <th>Autor</th>
              <th>Status</th>
              <th>Prodat/Obrisan</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ad>
          <tr>
              <td>{{ad.title}}</td>
              <td>{{ad.description}}</td>
              <td>{{ad.category}}</td>
              <td>{{ad.createdAt | date}}</td>
              <td>{{ad.user.name}}</td>
              <td>{{ad.sold ? 'Prodat' : 'Aktivan'}}</td>
              <td>
                <button (click)="updateAd(ad._id)" *ngIf="!ad.sold" pButton icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                <button (click)="deleteAd(ad._id)" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
            </td>
          </tr>

      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog acceptLabel="Da" rejectLabel="Ne" header="Akcija" icon="pi pi-exclamation-triangle"></p-confirmDialog>

