.login {
  display:flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  align-items: center;
  padding-top:50px;
  padding-bottom:50px;

}
.login-container {
  width:30%;
}
.logo-container {
  font-size:32px;
  margin-bottom:20px;
  text-align: center;
}
