<div class="home">
  <div class="p-grid">
    <div class="p-col-12 filters">
      <h2>Pretraga</h2>
      <div class="filters-container">
        <div class="filter-item">
          <ng-select
                [items]="categories$ | async"
                bindLabel="name"
                bindValue="id"
                placeholder="Izaberi kategoriju"
                [clearable]="false"
                [searchable]="false"
              >
              </ng-select>
        </div>

        <div class="filter-item">
          <ng-select
                [items]="brands$ | async"
                bindLabel="name"
                bindValue="id"
                placeholder="Izaberi marku"
                [clearable]="false"
                [searchable]="false"
              >
              </ng-select>
        </div>
      </div>
    </div>
    <div class="p-col-12 ads" *ngIf="ads$ | async as ads">
      <h2>Trenutno aktivnih oglasa: {{ads.length}}</h2>
      <div class="ad-container">
          <app-ad class="ad" [ad]="ad" *ngFor="let ad of ads"></app-ad>
      </div>
    </div>
  </div>
</div> <!-- Home -->
