<div class="flex-wrap">
  <header class="nav">
    <span class="logo"><i class="fas fa-cogs"></i><a routerLink="/">AutoDelovi.rs</a></span>
    <ul class="nav-list">
      <ng-container *ngIf='!auth.isAuthenticated'>
        <li class="nav-item">
          <a routerLink="/register">Registruj se</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login">Prijavi se</a>
        </li>
      </ng-container>


      <ng-container *ngIf='auth.isAuthenticated'>
        <li class="nav-item">
          <a routerLink="/home">Početna</a>
        </li>
        <li class="nav-item">
          <a routerLink="/ad-create">Napravi Oglas</a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile/{{auth.currentUserId}}">Profil</a>
        </li>
        <li class="nav-item">
          <a (click)="auth.logout()">Odjavi se</a>
        </li>
      </ng-container>


    </ul>

  </header>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer"></footer>
</div>
