.flex-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
header, footer {
  height:68px;
  background-color:#0A2342;
}
.logo {
  font-size:18px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  cursor:pointer;
  i {
    color:#82D4BB;
    margin-right:6px;
  }
  a {
    color:#fff;
  }
}
.nav {
  display:flex;
  align-items:center;
  padding-left:24px;
  padding-right:24px;
}
.nav-list {
  display:flex;
  margin-left:auto;
}
.nav-item a {
  color:#fff;
  margin-right:15px;
}
