.flex-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
header, footer {
  height:70px;
  background-color:#44515d;
}
.logo {
  font-size:18px;
  font-family: 'Lato', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  cursor:pointer;
  i {
    color:#82D4BB;
    margin-right:6px;
  }
  a {
    color:#fff;
  }
}
.nav {
  display:flex;
  align-items: flex-start;
  padding-left:24px;
  padding-right:24px;
}
.nav-list {
  display:flex;
  margin-left:auto;
  margin-top:24px;

}
.nav-item a {
  color:#fff;
  margin-right:15px;
  transition:color 300ms;
  &:hover {
    color:#82D4BB;
  }
}
.currentEmail {
  color:#82D4BB;
  margin-top:5px;
  font-size:12px;
}
