<div class="flex-wrap">
  <header class="nav">
    <span class="logo"><i class="fas fa-cogs"></i><a routerLink="/" >Delovi.rs</a></span>
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ad-create">Napravi Oglas</a>
      </li>
    </ul>

  </header>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer"></footer>
</div>
