<div class="profile" *ngIf="user$ | async as user">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-3">
        <div class="ad-profile" >
          <img ngxGravatar fallback="mp" [email]="user.email" size="80" />
          <div class="desc">
            <h3>{{user.name}}</h3>
            <p><span>Mesto:</span> {{user.city}}</p>
            <p><span>Kontakt:</span> {{user.phone}}</p>
            <div class="reviews">
              <div class="minus">
                <i class="fas fa-minus"></i>
                6
              </div>
              <div class="plus">
                <i class="fas fa-plus"></i>
                9
              </div>

            </div>
          </div>
      </div>
    </div>
      <div class="p-col-9">
        <div class="ads" *ngIf="ads$ | async as ads">
          <h2>Aktivni Oglasi</h2>
          <app-ad [ad]="ad" *ngFor="let ad of ads"></app-ad>
        </div>
      </div>
    </div>
  </div>
</div>
