<div class="basic-info">
  <p-card>
    <ng-template pTemplate="content">
      <form [formGroup]="adForm">
        <div class="p-fluid">
          <div class="p-field">
            <label class="label" for="firstname">Naslov</label>
            <input
              type="text"
              class="input"
              formControlName="title"
              placeholder="Naslov vašeg oglasa"
            />
          </div>

          <div class="p-field">
            <label class="label" for="lastname">Kategorija</label>
            <ng-select
              [items]="categories$ | async"
              bindLabel="name"
              bindValue="_id"
              formControlName="categories"
              [clearable]="false"
              [searchable]="false"
              placeholder="Izaberite kategoriju"
            >
            </ng-select>
          </div>
          <div class="p-field">
            <label class="label" for="firstname">Opis</label>
            <textarea
              rows="6"
              class="textarea"
              formControlName="description"
              placeholder="Opis vašeg oglasa"
            ></textarea>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end">
        <button
          class="p-button-success"
          label="Sledeći korak"
          (click)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
          [disabled]="adForm.invalid"
          pButton
          type="button"
          class="p-button-success"
        ></button>
      </div>
    </ng-template>
  </p-card>
</div>
