<div class="ad-profile">
  <img ngxGravatar fallback="mp" [email]="user.email" size="80" />
  <div class="desc">
    <h3>{{user.name}}</h3>
    <div>
      <p>Mesto:{{user.city}}</p>
      <p>Kontakt:{{user.phone}}</p>
      <a *ngIf="showAds" class="read-more" routerLink="/profile/{{_id}}">Svi oglasi</a>
    </div>
    <div *ngIf="hasVote" class="rating">
      <p-rating  [iconOnStyle]="{'color':'#82D4BB'}" [ngModel]="rating" readonly="true" [cancel]="false"></p-rating>
    </div>
  </div>

</div>
