<div class="ad-container" *ngIf="adService.singleData$ | async as ad">
  <div class="single-ad">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="title">
          <h1>{{ ad.title }}</h1>
          <div class="favorite" *ngIf="ad.favorite">
            <i class="fas fa-crown"></i>
          </div>
        </div>

        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        <h2>Dodatni opis</h2>
        <p class="ad-desc">
          {{ ad.description }}
        </p>
      </div>
      <div class="p-col-6">
        <div class="info">
          <ul>
            <li><b>Stanje</b>: {{ad.status}}</li>
            <li><b>Kategorija</b>: {{ ad.category }}</li>
            <li><b>Model</b>: {{ ad.model }}</li>
            <li><b>Godiste</b>: {{ ad.year }}</li>
            <li><b>Cena</b>: {{ ad.price }}e</li>
          </ul>
          <h2 class="ad-status">
            Status:
            <span [ngClass]="ad.sold ? 'sold' : 'active'" class="ad-status">{{
              ad.sold ? "Prodat" : "Aktivan"
            }}</span>
          </h2>
        </div>
        <div class="ad-profile" [class.gold]="ad.favorite">
          <img ngxGravatar fallback="mp" [email]="ad.user.email" size="80" />
          <div class="desc">
            <h3>{{ad.user.name}}</h3>
            <p><b>Mesto:</b> {{ad.user.city}}</p>
            <p><b>Kontakt:</b> {{ad.user.phone}}</p>
            <a class="read-more" routerLink="/profile/{{ad.user._id}}">Svi oglasi</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="category-ads" *ngIf="adService.adsWithSameCategory$ | async as ads else noAds">
    <h2>Oglasi iz slicne kategorije</h2>
    <div class="category-container">
      <div class="category-ad" *ngFor="let ad of ads">
        <h3>{{ad.title}}</h3>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/2018_Ford_Focus_ST-Line_X_1.0.jpg/1200px-2018_Ford_Focus_ST-Line_X_1.0.jpg"
          alt=""
          width="140"
        />
        <ul class="info category">
          <li><b>Stanje</b>: {{ad.status}}</li>
          <li><b>Model</b>: {{ad.model}}</li>
          <li><b>Godiste</b>: {{ad.year}}</li>
          <li><b>Cena</b>: {{ad.price}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #noAds>
  Nema oglasa iz ove kategorije.
</ng-template>
