<div class="ad-container">
<div class="single-ad">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="title">
          <h1>Prodajem Delove za Land Rovera</h1>
          <div class="favorite">
            <i class="fas fa-crown"></i>
          </div>
        </div>

        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        <h2>Dodatni opis</h2>
        <p class="ad-desc">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          hic tenetur, sed quia labore enim nam magni totam et ipsum ut,
          accusamus similique. Modi quae obcaecati quod est iure beatae. Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quidem,
          facere atque facilis doloribus beatae. Autem vel necessitatibus beatae
          voluptates, eius quo aperiam! Est corrupti suscipit alias hic
          laudantium dignissimos.
        </p>
      </div>
      <div class="p-col-6">
        <div class="info">
          <ul>
            <li><b>Stanje</b>: Polovno</li>
            <li><b>Kategorija</b>: Delovi Sasije i motora</li>
            <li><b>Model</b>: Land Rover</li>
            <li><b>Godiste</b>: 2019</li>
            <li><b>Cena</b>: Na upit</li>
          </ul>
          <h2 class="ad-status">Status: <span class="ad-status active">Aktivan</span></h2>
        </div>
        <div class="ad-profile">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4D03AQF5Xi081CHVdA/profile-displayphoto-shrink_400_400/0?e=1605744000&v=beta&t=Gj0t_Lfs2jfIvAgcgcQwn5PYzOhPl_uVK27lmE9xgeM"
            alt=""
            width="80"
            height="80"
          />
          <div class="desc">
            <h3>Milan Stojevski</h3>
            <p><b>Mesto:</b> Pancevo</p>
            <p><b>Kontakt:</b> 061/178-54-65</p>
            <a class="read-more" [routerLink]="['/profile/123']">Svi oglasi</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="category-ads">
  <h2>Oglasi iz slicne kategorije</h2>
  <div class="category-container">
    <div class="category-ad" *ngFor="let i of [1, 2, 3, 4]">
      <h3>Ford Focus</h3>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/2018_Ford_Focus_ST-Line_X_1.0.jpg/1200px-2018_Ford_Focus_ST-Line_X_1.0.jpg"
        alt=""
        width="140"
      />
      <ul class="info category">
        <li><b>Stanje</b>: Polovno</li>
        <li><b>Kategorija</b>: Delovi Sasije i motora</li>
        <li><b>Model</b>: Land Rover</li>
        <li><b>Godiste</b>: 2019</li>
        <li><b>Cena</b>: Na upit</li>
      </ul>
    </div>
  </div>
</div>
</div>
