<div class="ad-container" *ngIf="adService.singleData$ | async as ad">
  <div class="single-ad">
    <div class="p-grid">
      <div class="p-col-7">
        <div class="title">
          <h1 class="ad-title">{{ ad.title }}</h1>
          <div class="favorite" *ngIf="ad.favorite">
            <i class="fas fa-crown"></i>
          </div>
        </div>
        <p-galleria
          [showItemNavigators]="true"
          [circular]="true"
          [(value)]="ad.images"
          [containerStyle]="{ 'max-width': '640px' }"
          [numVisible]="5"
        >
          <ng-template pTemplate="item" let-item>
            <img width="640" height="360" [src]="item.previewImageUrl" style="width: 100%" />
          </ng-template>
          <ng-template wi pTemplate="thumbnail" let-item>
            <img
              class="image-item"
              width="85"
              height="68"
              [src]="item.previewImageUrl"
            />
          </ng-template>
        </p-galleria>



        <h2 class="ad-desc-title">Opis oglasa</h2>
        <p class="ad-desc">
          {{ ad.description }}
        </p>
      </div>
      <div class="p-col-5">
        <div class="ad-basic-info">
          <h2 class="ad-desc-title">Osnovne informacije</h2>
          <div class="info">
            <ul>
              <li><b>Stanje</b>: {{ ad.status }}</li>
              <li><b>Kategorija</b>: {{ ad.category }}</li>
              <li><b>Model</b>: {{ ad.model }}</li>
              <li><b>Godiste</b>: {{ ad.year }}</li>
              <li><b>Cena</b>: {{ ad.price }}RSD</li>
            </ul>
            <h2 class="ad-status">
              Status:
              <span [ngClass]="ad.sold ? 'sold' : 'active'" class="ad-status">{{
                ad.sold ? "Prodat" : "Aktivan"
              }}</span>
              <button
                (click)="setStatusToSold(ad._id)"
                *ngIf="currentUser === ad.user._id"
                class="btn primary btn-sold"
              >
                Ukloni oglas
              </button>
            </h2>
          </div>
          <div class="profile-card">
            <app-profile-card
              [user]="ad.user"
              [_id]="ad.user._id"
            ></app-profile-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="category-ads"
    *ngIf="adService.adsWithSameCategory$ | async as ads"
  >
    <h2>Još oglasa iz kategorije {{ ad.category }}</h2>
    <ng-container *ngIf="ads.length; else noAds">
      <div class="category-container">
        <app-ad [ad]="ad" *ngFor="let ad of ads"></app-ad>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #noAds> Nema oglasa iz ove kategorije. </ng-template>
