.ad-profile {
  margin-top: 50px;
  margin-left:150px;
  max-width: 400px;
  border: 4px dotted #eaeaea;
  display: flex;
  padding: 8px 10px;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  &.block {
    display:block;
  }
  &.gold {
    border-color:#c59849;
  }
  span {
    font-weight: normal;
  }
  img {
    margin-right: 20px;
  }
}
