.ad {
  border:1px solid #eaeaea;
  margin-bottom:15px;
  padding:20px;
  border-radius:5px;
  h2 {
    font-size:18px;
    margin-bottom:10px;
  }
  &.special {
    border:2px dotted #C59849;
  }
}

.ad-footer {
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding-top:15px;
}
.ad-spec {
  font-style:italic;
  color:#0A2342;
  font-weight:bold;
  margin-top:4px;
  margin-bottom:20px;
}
.ad-title {
  display:flex;
  align-items:top;
  justify-content: space-between;
  span {
    font-size:14px;
  }
}
.read-more {
  font-weight:bold;
}
.ad-short-desc {
  margin-bottom:20px;
  color:#718093;
}
