<div class="ad" [class.special]="special">
  <div class="ad-title">
    <h2>{{title}}</h2>
    <span class="date">{{date | date:'dd/MM/yyyy'}}</span>
  </div>
  <div class="ad-desc">
    <p class="ad-short-desc">{{description}}<a class="read-more" [routerLink]="['/ad', id]">Pogledaj Oglas</a></p>
  </div>

  <span class="ad-footer">
    <h3 class="ad-spec" >Oglas kreirao: <a [routerLink]="['/profile', user._id]">{{author}}</a></h3>
    <h3 class="ad-spec">Kategorija: Delovi Karoserije</h3>
  </span>
</div>
