<div class="ad-item">
  <div class="ad" [class.special]="ad?.favorite">
    <div class="ad-header">
      <h3>{{ad.title}}</h3>
      <span class="price">{{ad.price}}€</span>
    </div>
    <div class="ad-sub-header">
    <h4 class="ad-category">{{ad.category}}</h4>
      <div class="seperator"></div>
      <h4 class="ad-model">{{ad.brand}}</h4>
    </div>
    <div class="ad-description" [class.full]="full">
      {{ad.description}}
    </div>
  </div>
  <div class="ad-footer" [class.full]="full">
    <h4><a class="author" [routerLink]="['/profile', ad.user._id]">{{ad.user.name}}</a></h4>
    <a class="read-more" [routerLink]="['/ad', ad._id]">Pogledaj Oglas</a>
  </div>

</div>

