.ad-item {
  border-radius:6px;
  border:1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 6px;
  display:flex;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  height:100%;
  box-shadow: 2px 3px 6px rgba(53, 59, 72, 0.1);
}
.ad {
  padding-top:16px;
  padding-left:16px;
  padding-right:16px;
  flex:1;
  &.special {
    background-color: #FCF6E3;
  }
}
.ad-header {
  display:flex;
  align-items:flex-start;
  justify-content: space-between;
  margin-bottom:12px;
  h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #364D63;
    line-height: 24px;
    max-width: 192px;
  }
  .price {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #E6B31A;
  }
}
.ad-sub-header {
  display:flex;
  align-items:center;
}
.seperator {
  width:4px;
  height: 4px;
  border-radius:50%;
  background:#8A99A8;
  margin-left:5px;
  margin-right:5px;
}
.ad-category, .ad-model {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #364C63;
}
.ad-sub-header {
  margin-bottom:10px;
}
.ad-description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #8A99A8;
  margin-bottom:16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ad-footer {
  display:flex;
  justify-content: space-between;
  align-content: flex-end;
  background: #F0F2F4;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:16px;
  padding-right:16px;
  font-size: 14px;
  line-height: 14px;
  border-top: 1px solid #E8EBEE;
  &.full {
    max-width:100%;
    justify-content: flex-start;
  }
  .author {
    color:#687B8D;
    font-weight: normal;
  }
  .read-more {
    font-weight: bold;
    color:#1FBC97;
    &:hover {
      text-decoration: underline;
    }
  }
  .author {
    color:#687B8D;
    &:hover {
      text-decoration: underline;
    }
  }
}
